@import "theme.scss";

@include mat-core();
@include angular-material-theme($my-theme);

body {
  margin: 0;
  background-color: #ffa726;
}

.mat-app-background {
  background-color: #ffa726;
}
.header-logo {
  height: 48px;
}
