# https://www.linuxquestions.org/questions/linux-desktop-74/udev-not-doing-remove-rules-841733/ on remove operation we need to use ENV
ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="000a", SYMLINK+="racetracker", RUN+="/usr/bin/install -m 666 -o {{ ansible_user_id }} /dev/null /tmp/racetracker_watchdog.trigger"
ACTION=="remove", SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="04d8", ENV{ID_MODEL_ID}=="000a", RUN+="/usr/bin/install -m 666 -o {{ ansible_user_id }} /dev/null /tmp/racetracker_watchdog.trigger"
