<div fxLayout="column">
  <mat-toolbar color="primary" role="heading">
    <div fxLayout fxLayoutGap="24px" fxLayoutAlign="baseline center">
      <img src="assets/openrace-logo.png" class="header-logo"/>
        <a mat-button routerLink="/fly"><mat-icon>play_arrow</mat-icon>Fly</a>
        <a mat-button routerLink="/pilots"><mat-icon>people</mat-icon>Pilots</a>
      <a mat-button routerLink="/ledstrips"><mat-icon>flare</mat-icon>LED Strips</a>
    </div>
  </mat-toolbar>
  <div style="max-width: 768px; padding: 24px;">
    <router-outlet></router-outlet>
  </div>
</div>
