<div fxLayout="column">
  <mat-toolbar color="primary" role="heading" id="toolbar" fxLayout fxLayoutAlign="baseline center">
    <mat-icon fxHide.gt-xs="true" (click)="sidenav.toggle()">menu</mat-icon>
    <img src="assets/openrace-logo.png" class="header-logo" alt="OpenRace" fxFlexOffset="56px" fxFlexOffset.lt-sm="32px"  />
    <span fxFlexOffset="8px">OpenRace</span>

    <div fxFlex fxHide.lt-sm="true" fxFlexOffset="70px">
      <a mat-button routerLink="/fly" class="main-nav-item">
        <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="baseline center">
          <mat-icon>play_arrow</mat-icon>
          <span>Fly</span>
        </div>
      </a>
      <a mat-button routerLink="/pilots" class="main-nav-item">
        <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="baseline center">
          <mat-icon>people</mat-icon>
          <span>Pilots</span>
        </div>
      </a>
      <a mat-button routerLink="/ledstrips" class="main-nav-item">
        <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="baseline center">
          <mat-icon>flare</mat-icon>
          <span>LED Strips</span>
        </div>
      </a>
    </div>


  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column" opened="false" (click)="sidenav.toggle()" >
      <div fxLayout="column">
        <a mat-button routerLink="/fly" class="main-nav-item">
          <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="baseline center">
            <mat-icon>play_arrow</mat-icon>
            <span>Fly</span>
          </div>
        </a>
        <a mat-button routerLink="/pilots" class="main-nav-item">
          <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="baseline center">
            <mat-icon>people</mat-icon>
            <span>Pilots</span>
          </div>
        </a>
        <a mat-button routerLink="/ledstrips" class="main-nav-item">
          <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="baseline center">
            <mat-icon>flare</mat-icon>
            <span>LED Strips</span>
          </div>
        </a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div ngClass="main-content" ngClass.lt-sm="main-content-small">
        <router-outlet></router-outlet></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
