[Install]
WantedBy=multi-user.target

[Unit]
Description=Raspberry Pi Accesspoint control
After=network.target

[Service]
# Command to execute when the service is started
ExecStart={{ rpi_ap_control_path }}/venv/bin/python {{ rpi_ap_control_path }}/rpi-ap-control.py {{ playbook_dir }}
