[Unit]
Description=Openrace RaceTracker Watchdog

[Service]
User={{ ansible_user_id }}
Group={{ ansible_user_id }}
ExecStart =  {{ playbook_dir }}/../tools/racetracker_watchdog.sh

[Install]
WantedBy=multi-user.target
