<div fxLayout="column" fxLayoutGap="1em">
  <mat-expansion-panel *ngFor="let pilot of pilots" class="mat-elevation-z15">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{pilot.name}}
      </mat-panel-title>
      <mat-panel-description fxLayout="row-reverse">
        <mat-slide-toggle [id]="pilot.id" [checked]="pilot.enabled" color="primary"
                          (click)="$event.stopPropagation();" (change)="pilotStatusToggled($event)"></mat-slide-toggle>
      </mat-panel-description>
    </mat-expansion-panel-header>


    <div fxLayoutGap="1em">
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="pilot.name">
      </mat-form-field>
      <app-frequency-chooser></app-frequency-chooser>


      <mat-slider matInput min="1" max="100" step="1" thumbLabel></mat-slider>


      <mat-action-row>
        <button mat-flat-button color="primary">Save</button>
      </mat-action-row>
    </div>
  </mat-expansion-panel>
</div>

